    {% extends 'core/base.html' %}
    {%load static%}
    {%block title%}Sobre Nosotros{%endblock%}

    {%block content%}
    <!-- Page Header End -->
    <hr>
    <!-- About Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <h4 class="text-center text-success text-uppercase mb-2">Sobre Nosotros</h4>
            <br>
            <br>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="{% static 'core/img/carro3.jpg' %}" alt="" style="object-fit: cover;">
                        <img class="position-absolute top-0 start-0 pe-3 pb-3" src="{% static 'core/img/logo2.png' %}" alt="" style="width: 200px; height: 200px;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h3 class="display-10 mb-4">Desea viajar de Rumichaca – Tulcán – Quito o viceversa?</h3>
                        <p>Somos una empresa dedicada a la movilidad de personas, te ofrecemos el servicio de Taxiruta Rumichaca – Tulcán – Quito, o de Quito – Tulcán – Rumichaca, 
                        el servicio que brindamos es de transporte puerta a puerta, te recogemos en la puerta de tu casa y te llevamos hasta el destino que tu nos indiques.</p>
                        <p class="mb-4">Tenemos Unidades nuevas para prestarte un servicio exelente y de calidad, nuestros conductores son  debidamente capacitados y cuentan con licencia Profesional.</p>
                        <div class="row g-2 mb-4 pb-2">
                            <div class="col-sm-6">
                                <i class="fa fa-check text-success me-2"></i>Servicio puerta a puerta
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-success me-2"></i>Conductores capacitados
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-success me-2"></i>Vehiculos nuevos
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-success me-2"></i>Operadores las 24 horas
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
      {%endblock%}