    {% extends 'core/base.html' %}
    {%load static%}
    {%block title%}Contactos{%endblock%}

    {%block content%}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Contactanos</h1>

        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid" src="{% static 'core/img/operadora.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <h1 class="display-6 mb-4">+593 999 200 840</h1>
                    <p class="mb-4">Escríbenos o llamanos, nuestras operadoras responden las 24 horas del día,
                    Recuerda, reserva tu cupo almenos un día antes de la fecha de viaje. <a href="{{WHATSAPP_LINK}}">Whatsapp</a>.</p>
                    <h1 class="display-6 mb-4">+593 998 686 986</h1>
                    <p class="mb-4">Escríbenos o llamanos, nuestras operadoras responden las 24 horas del día,
                    Recuerda, reserva tu cupo almenos un día antes de la fecha de viaje. <a href="{{WHATSAPP_LINK}}">Whatsapp</a>.</p>
                </div>


            </div>
        </div>
    </div>
    <!-- Contact End -->

    {%endblock%}