    {% extends 'core/base.html' %}
    {%load static%}
    {%block title%}Inicio{%endblock%}

    {%block content%}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'core/img/portada01.png' %}" alt="Image">

                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'core/img/tulcan01.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <h1 class="display-2 text-light mb-5 animated slideInDown">SERVICIO EXCLUSIVO PUERTA A PUERTA</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'core/img/quito02.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <h1 class="display-2 text-light mb-5 animated slideInDown">VIAJA CON NOSOTROS COMODO Y SEGURO</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
    <br>
    <!-- Facts Start -->
    <div class="container-fluid facts py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
                
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square bg-secondary">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <div class="ps-4">
                                <h5>Sin Pagos Por Adelantado</h5>
                                <span>LLamanos o escribenos por whatsapp y reserva tu viaje para el día que nesecites, no 
                                te solicitamos transferencias de dinero ni depósitos por adelantado tu pagas en el momento de 
                                llegar a tu destino. Somos tu mejor opción en taxis puerta a puerta Quito - Tulcán - Rumichaca.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square bg-secondary">
                                <i class="fa fa-clock text-white"></i>
                            </div>
                            <div class="ps-4">
                                <h5>Solo 4 Horas De Viaje</h5>
                                <span>Si te estás preguntando como viajar Tulcán a Quito de una forma segura, 
                                confiable y espedita, somos la solución a tus problemas puedes hacerlo con nosotros 
                                en tan solo 4 horas de viaje, y disfrutar de un viaje comodo y sin contratiempos, estamos para servirte</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square bg-secondary">
                                <i class="fa fa-file-alt text-white"></i>
                            </div>
                            <div class="ps-4">
                                <h5>Te Ahorramos Tiempo De VIAJE</h5>
                                <span>Todas nuestras unidades cuentan con el TAG de Panavial, con el cual te ahorramos por lo 
                                menos media hora de extensas filas en los peajes. El tiempo aproximado de viaje en la Taxi ruta Tulcán Quito es de 4 horas.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->
    {%endblock%}